.cat-btn-group {
  @include display(inline-flex);

  /**
   * size
   */
  &-lg {
    > [class^="cat-btn"] {
      @include lineBox(large);
      @include font(large);

      .cat-btn-icon-img {
        height: fontSize(large);
      }
    }
  }
  &-md {
    > [class^="cat-btn"] {
      @include lineBox(medium);
      @include font(medium);

      .cat-btn-icon-img {
        height: fontSize(medium);
      }
    }
  }
  &-sm {
    > [class^="cat-btn"] {
      @include lineBox(small);
      @include font(small);

      .cat-btn-icon-img {
        height: fontSize(small);
      }
    }
  }

  /**
   * gap-size
   */
  &-gap-sm {
    @include gap(small);
  }
  &-gap-md {
    @include gap(medium);
  }
  &-gap-lg {
    @include gap(large);
  }

  &-vertical {
    flex-direction: column;

    &:not(&-small):not(&-medium):not(&-large) {
      > [class^="cat-btn"] {
        &:not(:first-child):not(:last-child) {
          border-radius: 0;
          border-top: 0;
        }

        &:where(:first-child) {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:where(:last-child) {
          border-top: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
  }
  &-horizontal {
    flex-direction: row;

    &:not(&-small):not(&-medium):not(&-large) {
      > [class^="cat-btn"] {
        &:not(:first-child):not(:last-child) {
          border-radius: 0;
          border-left: 0;
        }

        &:where(:first-child) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:where(:last-child) {
          border-left: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}
