@mixin border(
  $width: 0,
  $style: solid,
  $color: transparent,
  $radius: 0,
  $left: $width,
  $right: $width,
  $top: $width,
  $bottom: $width
) {
  border-left: $left $style $color;
  border-right: $right $style $color;
  border-top: $top $style $color;
  border-bottom: $bottom $style $color;
  border-radius: $radius;
}
