@mixin box($size) {
  min-width: minWidth($size);
  min-height: minHeight($size);
  padding: spaceGroup($size);

  border-width: borderWidth(medium);
  border-style: solid;
  border-color: transparent;
}

@mixin display($type, $direction: row, $justify: center, $align: center, $wrap: nowrap) {
  display: $type;

  @if (display == flex) {
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;

    line-height: 1;
  }

  @if (display == inline-flex) {
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;

    line-height: 1;
  }
}
