@mixin box(
  $color: $base-border-color,
  $backgroundColor: $white,
  $width: $base-width,
  $style: solid,
  $radius: $base-radius,
  $left: $width,
  $right: $width,
  $top: $width,
  $bottom: $width
) {
  border-left: $left $style $color;
  border-right: $right $style $color;
  border-top: $top $style $color;
  border-bottom: $bottom $style $color;
  border-radius: $radius;
  background-color: $backgroundColor;
}

@mixin boxShadow($color) {
  animation: box_shadow 0.5s;
  @include keyframes(box_shadow) {
    0% {
      box-shadow: 0 0 0 0px rgba($color, 0.4);
    }
    70% {
      box-shadow: 0 0 0 8px rgba($color, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba($color, 0);
    }
  }
}
