@mixin size($width: max-content, $height: $width, $portrait: $base-padding, $horizontal: $portrait) {
  width: $width;
  height: $height;
  padding: $portrait $horizontal;
}

@mixin square($size, $padding) {
  @include size($size, $size, $padding, $padding);
}
