@mixin font($font-size: $base-md-fontSize, $font-weight: normal, $color: $black) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}

@mixin ellipsis($overflow: hidden, $text-overflow: ellipsis, $white-space: nowrap) {
  overflow: $overflow;
  text-overflow: $text-overflow;
  white-space: $white-space;
}
