@import "./keyframes";
@import "./position";
@import "./flex";
@import "./size";
@import "./box";
@import "./text";

@mixin disabled() {
  color: $disabled-color;
  border-color: $disabled-borderColor;
  background-color: $disabled-backgroundColor;
  box-shadow: none;
  text-shadow: none;
  cursor: not-allowed;
}

@mixin btn-style(
  $color,
  $borderColor,
  $backgroundColor,
  $hover-color: lighten($color, 12%),
  $hover-borderColor: lighten($borderColor, 12%),
  $hover-backgroundColor: lighten($backgroundColor, 12%)
) {
  color: $color;
  @include box($borderColor, $backgroundColor);

  transition-property: color, border-color, background-color;
  transition-duration: 0.3s;

  &:hover {
    color: $hover-color;
    border-color: $hover-borderColor;
    background: $hover-backgroundColor;
  }

  &:focus {
    color: $hover-color;
    border-color: $hover-borderColor;
    background: $hover-backgroundColor;
  }

  &[disabled] {
    @include disabled;
  }
}
