.cat-btn {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;

  width: max-content;
  height: max-content;

  font-weight: $btn-font-weight;

  cursor: pointer;

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    > * {
      pointer-events: none;
    }
  }
}

.cat-btn-sm {
  @include button-size($btn-sm-padding-y, $btn-sm-padding-x, $btn-sm-font-size, $btn-sm-border-radius);
}

.cat-btn-md {
  @include button-size($btn-md-padding-y, $btn-md-padding-x, $btn-md-font-size, $btn-md-border-radius);
}

.cat-btn-lg {
  @include button-size($btn-lg-padding-y, $btn-lg-padding-x, $btn-lg-font-size, $btn-lg-border-radius);
}

.cat-btn-default {
  @include button-style($white, $gray-400, $black, $white, $primary, $primary);
}
