@import "./getMap";
@import "./cssVarName";

@function color-var($map, $attr, $colorType) {
  $varNme: get-color-attr-var($attr, $colorType);
  $color: getColor($map, $colorType);

  @return var($varNme, $color);
}

@function color-var-base($map, $attr, $colorType) {
  $varNme: get-color-attr-var($attr, $colorType);
  $color: getColor($map, $colorType);

  @return var($varNme, $color);
}
