/* font
   ========================================================================== */
/**
 * font-family 
 */
$font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Segoe UI, Arial, "PingFang SC",
  "Hiragino Sans GB", "Microsoft Yahei", STHeiti, SimSun, sans-serif !default;
/**
 * font-size 
 */
$font-size: (
  large: 15px,
  medium: 14px,
  small: 13px,
);
/**
 * font-weight 
 */
$font-weight: (
  lighter: lighter,
  light: 300,
  normal: 400,
  bold: 700,
  bolder: bolder,
);
/**
 * line-height 
 */
$line-height: (
  large: 30px,
  medium: 26px,
  small: 24px,
);

/* border
   ========================================================================== */
/**
 * border-width
 */
$border-width-medium: 1px;
/**
 * border-radius
 */
$border-radius: (
  medium: 4px,
  small: 2px,
);

/* space
   ========================================================================== */
/**
 * space
 */
$space: (
  xx-lg: 27px,
  x-lg: 21px,
  lg: 15px,
  md: 9px,
  sm: 7px,
  x-sm: 5px,
  xx-sm: 3px,
);
/**
 * spaceGroup
 */
$spaceGroup: (
  large: (
    7px,
    21px,
    7px,
    21px,
  ),
  medium: (
    5px,
    15px,
    5px,
    15px,
  ),
  small: (
    3px,
    9px,
    3px,
    9px,
  ),
);

/* color
   ========================================================================== */
/**
 * baseColor 
 */
$baseColor: (
  primary: $blue,
  danger: $red,
  success: $green,
  warning: $orange,
  secondary: $purple,
  default: $black,
);
/**
 * fontColor 
 */
$fontColor: (
  primary: $white,
  danger: $white,
  success: $white,
  warning: $white,
  secondary: $white,
  default: $black,
);
/**
 * backgroundColor 
 */
$backgroundColor: (
  primary: $blue,
  danger: $red,
  success: $green,
  warning: $orange,
  secondary: $purple,
  default: $white,
);
/**
 * borderColor 
 */
$borderColor: (
  primary: $blue,
  danger: $red,
  success: $green,
  warning: $orange,
  secondary: $purple,
  default: $grey-300,
);
/**
 * hover-fontColor 
 */
$hover-fontColor: (
  primary: $grey-100,
  danger: $grey-100,
  success: $grey-100,
  warning: $grey-100,
  secondary: $grey-100,
  default: $blue-500,
);
/**
 * hover-backgroundColor 
 */
$hover-backgroundColor: (
  primary: $blue-400,
  danger: $red-400,
  success: $green-400,
  warning: $orange-400,
  secondary: $purple-400,
  default: $blue-100,
);
/**
 * hover-borderColor 
 */
$hover-borderColor: (
  primary: $blue-400,
  danger: $red-400,
  success: $green-400,
  warning: $orange-400,
  secondary: $purple-400,
  default: $blue-500,
);
/**
 * active-fontColor 
 */
$active-fontColor: (
  primary: $grey-100,
  danger: $grey-100,
  success: $grey-100,
  warning: $grey-100,
  secondary: $grey-100,
  default: $blue-500,
);
/**
 * active-backgroundColor 
 */
$active-backgroundColor: (
  primary: $blue-600,
  danger: $red-600,
  success: $green-600,
  warning: $orange-600,
  secondary: $purple-600,
  default: $grey-200,
);
/**
 * active-borderColor 
 */
$active-borderColor: (
  primary: $blue-600,
  danger: $red-600,
  success: $green-600,
  warning: $orange-600,
  secondary: $purple-600,
  default: $grey-200,
);

/* disabled
   ========================================================================== */
/**
 * disabled
 */
$disabled: (
  color: $grey-400,
  background-color: $grey-200,
  border-color: $grey-400,
);
