/* base */
$ZERO: 0px;
$base-width: 1px;
$base-radius: 5px;
$base-radius-circle: 50%;
$base-radius-radian: 20%/50%;
$base-padding: 10px;
$base-lg-fontSize: 16px;
$base-md-fontSize: 14px;
$base-sm-fontSize: 13px;
$base-text-color: $blue-grey-800;
$base-border-color: $grey-300;
$base-background-color: $grey-50;
$disabled-color: $grey-400;
$disabled-borderColor: $grey-400;
$disabled-backgroundColor: $grey-100;

/* button */
$btn-radius: $base-radius;
$btn-lg-portrait: $base-padding * 0.8;
$btn-lg-horizontal: $base-padding * 1.5;
$btn-md-portrait: $base-padding * 0.5;
$btn-md-horizontal: $base-padding * 1.1;
$btn-sm-portrait: $base-padding * 0.3;
$btn-sm-horizontal: $base-padding * 0.8;
$btn-lg-fontSize: $base-lg-fontSize;
$btn-md-fontSize: $base-md-fontSize;
$btn-sm-fontSize: $base-sm-fontSize;
$btn-primary-color: $purple;
$btn-danger-color: $red;
$btn-success-color: $green;
$btn-warning-color: $amber;
$btn-info-color: $blue;
$btn-default-color: $base-text-color;
$btn-default-borderColor: $base-border-color;
$btn-default-backgroundColor: $base-background-color;
$btn-text-backgroundColor: $grey-200;
