.cat-btn {
  @include display(inline-flex);

  cursor: pointer;

  /**
   * size
   */
  &-lg {
    @include lineBox(large);
    @include font(large);

    .cat-btn-icon-img {
      height: fontSize(large);
    }
  }
  &-md {
    @include lineBox(medium);
    @include font(medium);

    .cat-btn-icon-img {
      height: fontSize(large);
    }
  }
  &-sm {
    @include lineBox(small);
    @include font(small);

    .cat-btn-icon-img {
      height: fontSize(large);
    }
  }

  /**
   * type
   */
  &-primary {
    @include colorArrt(primary);
  }
  &-danger {
    @include colorArrt(danger);
  }
  &-success {
    @include colorArrt(success);
  }
  &-warning {
    @include colorArrt(warning);
  }
  &-secondary {
    @include colorArrt(secondary);
  }
  &-default {
    @include colorArrt(default);
  }

  /**
   * facade
   */
  &-contained {
    @include facade(contained);
  }
  &-outlined {
    @include facade(outlined);
  }
  &-text {
    @include facade(text);
  }

  /**
   * facade & type
   */
  &-outlined,
  &-text {
    &Primary {
      @include baseColor(primary);
    }

    &Danger {
      @include baseColor(danger);
    }

    &Success {
      @include baseColor(success);
    }

    &Warning {
      @include baseColor(warning);
    }

    &Secondary {
      @include baseColor(secondary);
    }

    &Default {
      @include baseColor(default);
    }
  }

  /**
   * shape
   */
  &-rect {
    @include shape(rect);
  }
  &-roundRect {
    @include shape(roundRect);
  }
  &-round {
    @include shape(round);
  }
  &-circle {
    @include shape(circle);
  }
}
