.cat-btn {
  position: relative;

  @include flex($justify-content: space-around, $wrap: nowrap);
  @include ellipsis;

  cursor: pointer;
}

/* size */
.cat-btn-lg {
  @include size($portrait: $btn-lg-portrait, $horizontal: $btn-lg-horizontal);
  @include font($btn-lg-fontSize);

  .cat-btn-icon-img {
    height: $btn-lg-fontSize;
  }
}
.cat-btn-md {
  @include size($portrait: $btn-md-portrait, $horizontal: $btn-md-horizontal);
  @include font();

  .cat-btn-icon-img {
    height: $btn-md-fontSize;
  }
}
.cat-btn-sm {
  @include size($portrait: $btn-sm-portrait, $horizontal: $btn-sm-horizontal);
  @include font($btn-sm-fontSize);

  .cat-btn-icon-img {
    height: $btn-sm-fontSize;
  }
}

/* contained */
.cat-btn-contained {
  /* primary */
  &.cat-btn-primary {
    @include btn-style($white, $btn-primary-color, $btn-primary-color);
  }
  /* danger */
  &.cat-btn-danger {
    @include btn-style($white, $btn-danger-color, $btn-danger-color);
  }
  /* success */
  &.cat-btn-success {
    @include btn-style($white, $btn-success-color, $btn-success-color);
  }
  /* warning */
  &.cat-btn-warning {
    @include btn-style($white, $btn-warning-color, $btn-warning-color);
  }
  /* info */
  &.cat-btn-info {
    @include btn-style($white, $btn-info-color, $btn-info-color);
  }
  /* default */
  &.cat-btn-default {
    @include btn-style(
      $btn-default-color,
      $btn-default-borderColor,
      $white,
      $btn-primary-color,
      $btn-primary-color,
      $btn-default-backgroundColor
    );
  }
}

/* outlined */
.cat-btn-outlined {
  /* primary */
  &.cat-btn-primary {
    @include btn-style($btn-primary-color, $btn-primary-color, transparent);
  }
  /* danger */
  &.cat-btn-danger {
    @include btn-style($btn-danger-color, $btn-danger-color, transparent);
  }
  /* success */
  &.cat-btn-success {
    @include btn-style($btn-success-color, $btn-success-color, transparent);
  }
  /* warning */
  &.cat-btn-warning {
    @include btn-style($btn-warning-color, $btn-warning-color, transparent);
  }
  /* info */
  &.cat-btn-info {
    @include btn-style($btn-info-color, $btn-info-color, transparent);
  }
  /* default */
  &.cat-btn-default {
    @include btn-style(
      $btn-default-color,
      $btn-default-borderColor,
      transparent,
      $btn-primary-color,
      $btn-primary-color
    );
  }
}

/* text */
.cat-btn-text {
  /* primary */
  &.cat-btn-primary {
    @include btn-style($btn-primary-color, transparent, transparent, $hover-backgroundColor: $btn-text-backgroundColor);
  }
  /* danger */
  &.cat-btn-danger {
    @include btn-style($btn-danger-color, transparent, transparent, $hover-backgroundColor: $btn-text-backgroundColor);
  }
  /* success */
  &.cat-btn-success {
    @include btn-style($btn-success-color, transparent, transparent, $hover-backgroundColor: $btn-text-backgroundColor);
  }
  /* warning */
  &.cat-btn-warning {
    @include btn-style($btn-warning-color, transparent, transparent, $hover-backgroundColor: $btn-text-backgroundColor);
  }
  /* info */
  &.cat-btn-info {
    @include btn-style($btn-info-color, transparent, transparent, $hover-backgroundColor: $btn-text-backgroundColor);
  }
  /* default */
  &.cat-btn-default {
    @include btn-style($btn-default-color, transparent, transparent, $hover-backgroundColor: $btn-text-backgroundColor);
  }
}

.cat-btn {
  /* shape */
  &.cat-btn-rect {
    border-radius: $ZERO;
  }
  &.cat-btn-roundRect {
    border-radius: $base-radius;
  }
  &.cat-btn-circle {
    border-radius: $base-radius-circle;
  }
  &.cat-btn-radian {
    border-radius: $base-radius-radian;
  }

  /* disabled */
  &.cat-btn-outlined[disabled] {
    background-color: transparent;
  }
  &.cat-btn-text[disabled] {
    background-color: transparent;
    border-color: transparent;
  }
}
